@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&family=Open+Sans:wght@300&family=Playfair+Display:wght@500&family=Raleway:wght@300&display=swap');

/* Utility */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

p {
    margin: 10px 0;
  }

.container {
    max-width: 1400px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

img {
    width: 100%;
}

button {
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: bold;
}

/* Navbar */
.navbar {
    background-color: #333;
    height: 70px;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 1px #fff solid;
  }

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.logo {
    color: white;
}

/* Hero Section */

.hero-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-header {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    position: absolute;
    padding: 20px;
    margin: 20px;
}

/* Features Section */

.feature-wrapper img {
    width: 40%;
}

.feature-wrapper {
    background-color: grey;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
}

.feature-content {
    margin: 20px;
    align-self: center;
}


/* Testimonials Section */

.testimonial-wrapper {
    display: flex;
    margin: 10px;
    margin-bottom: 50px;
}

.testimonial-item {
    background-color: grey;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
}

/* Footer */

.footer-wrap {
    background-color: #333;
    height: 300px;
    color: white;
    margin: 0 auto;
    overflow: auto;
}

.footer-nav {
    display: flex;
    margin: 20px 20px;
}
